<?xml version="1.0"?>
<!--
/**
 * PF_EmailSignup
 *
 * @category Newsletter/Loyalty
 * @package  PF_EmailSignup
 * @author   Patrick Flores <hello@patrickianflores.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PF_EmailSignup"/>
</config>