<!--
/**
 * PF_EmailSignup
 *
 * @category Newsletter/Loyalty
 * @package  PF_EmailSignup
 * @author   Patrick Flores <hello@patrickianflores.com>
 */
-->


<widget type="NewsletterBlock" data-bind="attr: {
        'data-block-title': data.block_title.html,
        'data-block-subtitle': data.block_subtitle.html,
        'data-email-icon-src': data.email_icon.attributes().src,
        'data-email-icon-alt': data.email_icon.attributes().src,
        'data-email-icon-title': data.email_icon.attributes().src,
        'data-input-text': data.placeholder.html,
        'data-submit-button-text': data.submit_button_text.html
    }">
    <div attr="data.main.attributes">
        <div attr="data.block_title.attributes" html="data.block_title.html"></div>
        <div attr="data.block_subtitle.attributes" html="data.block_subtitle.html"></div>
        <div attr="data.email_icon.attributes"></div>
        <form class="form-subscribe" data-bind="attr: { action: getActionNewsletter() }" method="post">
            <input name="email" type="email" attr="data.placeholder.attributes" required />
            <button type="submit" data-bind="attr: data.submit_button_text.attributes, text: data.submit_button_text.html"></button>
        </form>
</widget>