<!--
/**
 * PF_EmailSignup
 *
 * @category Newsletter/Loyalty
 * @package  PF_EmailSignup
 * @author   Patrick Flores <hello@patrickianflores.com>
 */
-->

<div attr="data.main.attributes"
     ko-style="data.main.style"
     class="pagebuilder-content-type"
     css="data.main.css"
     event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false"
>
    <div translate="'Newsletter Block'"></div>
    <div class="Newsletter">
        <div class="Newsletter-Wrapper">
            <div class="Newsletter-TitleWrapper">
                <span class="Newsletter-Title"
                      attr="data.block_title.attributes"
                      data-bind="liveEdit: { field: 'block_title', placeholder: $t('Enter Block Title') }">
                </span>
            </div>
            <div class="Newsletter-SubtitleWrapper">
                <div class="Newsletter-SubtitlePlaceholder">
                    <p class="Newsletter-SubtitleText"
                       attr="data.block_subtitle.attributes"
                       data-bind="liveEdit: { field: 'block_subtitle', placeholder: $t('Enter Block Subitle') }">
                    </p>
                </div>
            </div>
            <div class="Newsletter-ActionsWrapper">
                <div class="Newsletter-Actions">
                    <form class="Newsletter-Form">
                        <div class="Newsletter-FormIcon">
                            <img attr="data.email_icon.attributes">
                        </div>
                        <div class="Newsletter-FormFieldEmail">
                            <input
                              class="Newsletter-FormFieldInput"
                              attr="data.placeholder.attributes"
                              data-bind="liveEdit: { field: 'placeholder', placeholder: $t('Enter Input Text') }"
                            />
                        </div>
                        <div class="Newsletter-FormSubmit">
                            <button class="Newsletter-FormSubmitButton" attr="data.submit_button_text.attributes"
                                      data-bind="liveEdit: { field: 'submit_button_text', placeholder: $t('Enter Submit Button Text') }">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <render args="getOptions().template" />
</div>
